body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("img/cake1.jpg");
    min-height: 75%;
}

/* menu kısmında görsel kaydırma için */
  .menu {
    display: none;
  }

  .slider {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slide-track {
    display: flex;
    width: calc(250px * 10); 
    animation: scroll 20s linear infinite;
  }
  
  .slide {
    width: 250px;
    height: 250px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
  }

  /*  */
